<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi" xmlns:bal="http://schemas.microsoft.com/wix/BalExtension">
  <Bundle Name="Hungry Ghost Plugins"
          Version="$(var.BundleVersion)"
          Manufacturer="Hungry Ghost"
          UpgradeCode="$(var.BundleUpgradeCode)"
          Compressed="yes">

    <BootstrapperApplicationRef Id="WixStandardBootstrapperApplication.HyperlinkLicense">
      <bal:WixStandardBootstrapperApplication LicenseFile="$(var.LicenseRtf)" />
    </BootstrapperApplicationRef>

    <Chain>
      <MsiPackage Id="LimiterMsi" SourceFile="$(var.LimiterMsiPath)" Vital="yes" />
      <MsiPackage Id="AstralMsi" SourceFile="$(var.AstralMsiPath)" Vital="yes" />
    </Chain>

  </Bundle>
</Wix>