<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*"
           Name="$(var.ProductName)"
           Language="1033"
           Version="$(var.ProductVersion)"
           Manufacturer="$(var.Manufacturer)"
           UpgradeCode="$(var.UpgradeCode)">

    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" Platform="x64" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of $(var.ProductName) is already installed." />
    <MediaTemplate />

    <Feature Id="MainFeature" Title="$(var.ProductName)" Level="1">
      <ComponentGroupRef Id="PluginComponents" />
    </Feature>

    <Property Id="ARPPRODUCTICON" Value="app.ico" />

    <Icon Id="app.ico" SourceFile="app.ico" />

    <WixVariable Id="WixUILicenseRtf" Value="$(var.LicenseRtf)" />
    <UIRef Id="WixUI_Minimal" />

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="CommonFiles64Folder">
          <Directory Id="VST3DIR" Name="VST3" />
        </Directory>
      </Directory>
    </Directory>

  </Product>
</Wix>